<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Главная страница</title>
        {% load staticfiles %}
        <link rel="stylesheet" href="{% static 'mainApp/css/bootstrap.min.css' %}" type="text/css" >
	</head>
	<body>
        <div class="jumbotron">
            <div class="container">
                <h1>{% include "mainApp/includes/some_html.html" %}</h1>
                {% block content %}
                {% endblock %}

                <p>
                    <a href="/" class="btn btn-success btn-lg">Главная страница</a>
                    <a href="/news/list" class="btn btn-info btn-lg">Список документов&raquo;</a>
                    <a href="/news" class="btn btn-primary btn-lg">Добавить документ &raquo;</a>
                </p>
            </div>
        </div>
        <div class="container">
            <img src="{% static 'mainApp/image/english.png' %}" class="img-thumbnail">
            <hr>
            &copy; Все права защищены 2019
        </div>
	</body>
</html>